@import '../fonts/fonts.css';

* {
  box-sizing: border-box;
}

html {
  --color-tpl-white: #fff;
  --color-body-text: #000;
  --color-blue-dark: #0C198D;
  --color-blue-bright: #242AC0;
  --color-forest-green: #01883A;
  --color-tpl-pink: #FC345F;
  --font-size-default: 100%;
  --font-family-body: 'Inter', sans-serif;
  --font-family-title: 'Inter', sans-serif;
  --font-weight-body: '400';
  --font-weight-link: '500';
  --font-weight-title: '700';
  --line-height-body-text: 1.5;
  --line-height-title: 1.205;
  --line-height-button: 1.125;
}

body {
  font-family: var(--font-family-body);
  font-size: var(--font-size-default);
  color: var(--color-body-text);
  line-height: var(--line-height-body-text);
}

img {
  max-width: 100%;
}
